<!DOCTYPE html>
<html>
<head>
    <title>黑白格博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/pace.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- js -->
    <script src="../static/js/jquery-2.1.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="/"><b>黑白格博客</b></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>









                </nav>









            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
<div class="copyrights">Modified by <a href="http://bestwangke.com/">王珂的个人博客博客</a></div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">


                
                <h2>技术测试</h2>
                
                
                <ul class="post-list">
                    <li class="post-item">
                        <a href="/posts/hello.md.html" class="post-link">Hello world中国追梦人</a>
                    </li>
                </ul>
                
                <ul class="post-list">
                    <li class="post-item">
                        <a href="/posts/hello2.md.html" class="post-link">Hello world</a>
                    </li>
                </ul>
                
                
                


            </main>
            <aside class="col-md-4">
















                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>

                        
                            

                                <li>
                                    <a href="/categorys/技术测试"><span class="post-count">技术测试</span></a>
                                </li>

                            

                                <li>
                                    <a href="/categorys/技术测试2"><span class="post-count">技术测试2</span></a>
                                </li>

                            
                        

                    </ul>
                </div>


            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">
                    &copy 2018 个人github pages构建工具 </a>
                </p>
            </div>

           <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="/page/about.html" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="/page/contact.html" data-hover="联系">联系</a></li>
                        </ul>
                    </div>
                </nav>

            </div><!-- col-md-8 -->

        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>

<script src="../static/js/script.js"></script>

</body>
</html>