<!DOCTYPE html>
<html>
<head>
    <title>黑白格博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/pace.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- js -->
    <script src="../static/js/jquery-2.1.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="/"><b>黑白格博客</b></a></h1>
                </div>
            </div><!-- col-md-4 -->

        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">

                
                    

                        <article class="post post-1">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="posts/hello.md.html">Hello world中国追梦人</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a href="#">技术测试</a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                              datetime="2012-11-09T23:15:57+00:00">2018年02月15日</time></a></span>
                                    <span class="post-author"><a href="#">岁月静好</a></span>
                                    <span class="comments-link"><a href="#">4 评论</a></span>
                                    <span class="views-count"><a href="#">588 阅读</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>生命的旅程是漫长的，是孤寂的。现实是残酷的，但却是不容逃避的。尽管实现心中的梦想会很难很难的，但我们依然想要怒放自己的生命，依然想要放飞自己的梦想！有梦就有希望，有希望就有快乐！有快乐人生才会更精彩！...</p>
                                <div class="read-more cl-effect-14">
                                    <a href="posts/hello.md.html" class="more-link">阅读全文<span class="meta-nav">》</span></a>
                                </div>
                            </div>
                        </article>


                    

                        <article class="post post-1">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="posts/hello2.md.html">Hello world</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a href="#">技术测试</a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                              datetime="2012-11-09T23:15:57+00:00">2018年02月15日</time></a></span>
                                    <span class="post-author"><a href="#">岁月静好</a></span>
                                    <span class="comments-link"><a href="#">4 评论</a></span>
                                    <span class="views-count"><a href="#">588 阅读</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>让青春吹动了你的长发 让它牵引你的梦 不知不觉这尘世的历史已记取了你的笑容 红红心中蓝蓝的天是个生命的开始 春雨不眠隔夜的你曾空独眠的日子 春雨不眠隔夜的你曾空独眠的日子...</p>
                                <div class="read-more cl-effect-14">
                                    <a href="posts/hello2.md.html" class="more-link">阅读全文<span class="meta-nav">》</span></a>
                                </div>
                            </div>
                        </article>


                    

                        <article class="post post-1">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="posts/hello3.md.html">Hello world</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a href="#">技术测试2</a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                              datetime="2012-11-09T23:15:57+00:00">2018年02月23日</time></a></span>
                                    <span class="post-author"><a href="#">岁月静好</a></span>
                                    <span class="comments-link"><a href="#">4 评论</a></span>
                                    <span class="views-count"><a href="#">588 阅读</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>让青春吹动了你的长发 让它牵引你的梦 不知不觉这尘世的历史已记取了你的笑容 红红心中蓝蓝的天是个生命的开始 春雨不眠隔夜的你曾空独眠的日子 春雨不眠隔夜的你曾空独眠的日子...</p>
                                <div class="read-more cl-effect-14">
                                    <a href="posts/hello3.md.html" class="more-link">阅读全文<span class="meta-nav">》</span></a>
                                </div>
                            </div>
                        </article>


                    
                



                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div>
            </main>
            <aside class="col-md-4">
















                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>

                        
                            

                                <li>
                                    <a href="/categorys/技术测试"><span class="post-count">技术测试</span></a>
                                </li>

                            

                                <li>
                                    <a href="/categorys/技术测试2"><span class="post-count">技术测试2</span></a>
                                </li>

                            
                        

                    </ul>


                </div>

            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">
                    &copy 2018 个人github pages构建工具 </a>
                </p>
            </div>

            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="/page/about.html" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="/page/contact.html" data-hover="联系">联系</a></li>
                        </ul>
                    </div>
                </nav>

            </div><!-- col-md-8 -->

        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>

<script src="../static/js/script.js"></script>

</body>
</html>