<!DOCTYPE html>
<html>
<head>
     <title>Hello world中国追梦人 </title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/pace.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- js -->
    <script src="../static/js/jquery-2.1.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
</head>

<body id="single">
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="/">黑白格博客</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>









                </nav>









            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">










        <div class="row">
            <main class="col-md-8">
                <article class="post post-1">
                    <header class="entry-header">

                    
                        <h1 class="entry-title">
                            <a href="posts/hello.md.html">Hello world中国追梦人</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">技术测试</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2018年02月15日</time></a></span>
                            <span class="post-author"><a href="#">岁月静好</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>

                    

                    </header>
                    <div class="entry-content clearfix">
                        <hr />
<h2>Hello world</h2>
<p>这是一篇测试文章，测试<code>markdown</code>语法是否支持。</p>
<p>代码片段：</p>
<div class="highlight"><pre><span class="c"># hello.py</span>
<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">():</span>
    <span class="k">print</span><span class="p">(</span><span class="s">&#39;Hello world!&#39;</span><span class="p">)</span>
</pre></div>


<p>这是一个列表：</p>
<ul>
<li>第一条</li>
<li>第二条<ol>
<li>第二条第一条</li>
<li>第二天第二条</li>
</ol>
</li>
</ul>
<p>这是一段话：</p>
<p>青青子衿，<strong>悠悠我心</strong>，<strong><em>但为君故</em></strong>，<em>沉吟至今</em>。</p>
<blockquote>
<p>慨当以慷，忧思难忘
何以解忧？唯有杜康</p>
</blockquote>
<p>这是一个链接：<a href="http://www.zwting.com">www.zwting.com</a></p>
<p>这是一张图片：<img alt="cat" src="http://imgout.ph.126.net/57363048/pexels-photo-416208.jpg" /></p>
<p>还支持表格：</p>
<table>
<thead>
<tr>
<th align="left">默认列</th>
<th align="left">左对齐列</th>
<th align="right">右对齐列</th>
<th align="center">居中列</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">Hello</td>
<td align="left">Hello</td>
<td align="right">Hello</td>
<td align="center">Hello</td>
</tr>
</tbody>
</table>
                    </div>
                </article>

            </main>



























































































        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <p class="copyright">
                    - &copy 2018 个人github pages构建工具 </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>

<script src="../static/js/script.js"></script>

</body>
</html>